*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
    padding-inline: 20px;
    max-width: 1024px;
    background-color: aqua;
    margin-inline: auto;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    gap: 20px;
    place-content: center;
}

.card {
    background-color: #7D5BA6;
    max-width: 500px;
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    place-content: center;


}

.card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    
}

.card h1 {
    font-size: 1.75rem;
}
.card p {
    font-size: 1rem;
}

